* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background-color: rgb(32, 35, 48);
}
#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#logo path:nth-child(2) {
  stroke-dasharray: 342.993;
  stroke-dashoffset: 342.993;
  animation: line-anime 2s ease forwards;
}
#logo path:nth-child(3) {
  stroke-dasharray: 166.1999;
  stroke-dashoffset: 166.1999;
  animation: line-anime 2s ease forwards 0.3s;
}
#logo path:nth-child(4) {
  stroke-dasharray: 301.2297;
  stroke-dashoffset: 301.2297;
  animation: line-anime 2s ease forwards 0.6s;
}
#logo path:nth-child(5) {
  stroke-dasharray: 390.279;
  stroke-dashoffset: 390.279;
  animation: line-anime 2s ease forwards 0.9s;
}
#logo path:nth-child(6) {
  stroke-dasharray: 301.22973;
  stroke-dashoffset: 301.22973;
  animation: line-anime 2s ease forwards 1.2s;
}
#logo path:nth-child(7) {
  stroke-dasharray: 389.86065;
  stroke-dashoffset: 389.86065;
  animation: line-anime 2s ease forwards 1.5s;
}
#logo path:nth-child(8) {
  stroke-dasharray: 351.69769;
  stroke-dashoffset: 351.69769;
  animation: line-anime 2s ease forwards 1.8s;
}
#logo path:nth-child(9) {
  stroke-dasharray: 293.4024;
  stroke-dashoffset: 293.4024;
  animation: line-anime 2s ease forwards 2.1s;
}
#logo path:nth-child(10) {
  stroke-dasharray: 396.928;
  stroke-dashoffset: 396.928;
  animation: line-anime 2s ease-in forwards 0.3s;
}
#logo path:nth-child(11) {
  stroke-dasharray: 170.8506;
  stroke-dashoffset: 170.8506;
  animation: line-anime 2s ease-in forwards 0.6s;
}
#logo path:nth-child(12) {
  stroke-dasharray: 351.6986;
  stroke-dashoffset: 351.6986;
  animation: line-anime 2s ease-in forwards 0.9s;
}
#logo path:nth-child(9) {
  stroke-dasharray: 324.892;
  stroke-dashoffset: 324.892;
  animation: line-anime 2s ease-in forwards 1.2s;
}
#logo path:nth-child(13) {
  stroke-dasharray: 290.8451;
  stroke-dashoffset: 290.8451;
  animation: line-anime 2s ease-in forwards 1.5s;
}
#logo path:nth-child(14) {
  stroke-dasharray: 166.53350830078125;
  stroke-dashoffset: 166.53350830078125;
  animation: line-anime 2s ease-in forwards 1.8s;
}
#logo path:nth-child(15) {
  stroke-dasharray: 464.43151;
  stroke-dashoffset: 464.43151;
  animation: line-anime 2s ease forwards 2.1s;
}
#logo path:nth-child(16) {
  stroke-dasharray: 301.2299;
  stroke-dashoffset: 301.2299;
  animation: line-anime 2s ease-in forwards 2.3s;
}
#logo path:nth-child(17) {
  stroke-dasharray: 246.7003;
  stroke-dashoffset: 246.7003;
  animation: line-anime 2s ease-in forwards 2.6s;
}
#logo path:nth-child(18) {
  stroke-dasharray: 166.5335;
  stroke-dashoffset: 166.5335;
  animation: line-anime 2s ease-in forwards 2.9s;
}
#logo path:nth-child(19) {
  stroke-dasharray: 277.0328;
  stroke-dashoffset: 277.0328;
  animation: line-anime 2s ease-in forwards 3.2s;
}
#logo path:nth-child(20) {
  stroke-dasharray: 342.9938;
  stroke-dashoffset: 342.9938;
  animation: line-anime 2s ease-in forwards 3.5s;
}
#logo path:nth-child(21) {
  stroke-dasharray: 166.19998;
  stroke-dashoffset: 166.19998;
  animation: line-anime 2s ease-in forwards 3.8s;
}

@keyframes line-anime {
  to {
    stroke-dashoffset: 0;
  }
}
